<template>
    <form v-on:submit.prevent="addTodo">
        <div class="form-group">
            <input v-model="todo" type="text" id="todo-input" placeholder="Enter your todo!" class="form-control">  
        </div>
        <div v-if="error" class="error"> {{ error }} </div>
        <div class="form-group">
            <button class="btn btn-primary">Add!</button>
        </div>
    </form>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Add',
  data() {
      return {
        todo: '',
      }
  },

  methods: {
      addTodo() {
          var data = {
              "todo": this.todo,
          }
          axios({
              method: 'POST',
              url: 'http://localhost:4000/add',
              data: data,
              withCredentials: true,
              headers: {
                  'content-type': 'application/json',
              }
          }).then(result => {
            if (result.status == 201) {
                location.reload() // İyi bir yöntem değil bunu değiştirmelisin.
            }
          }).catch (error => {
            console.log("error:", error)
          })
        }
    },

  computed: {
      error() {
          return this.todo.length < 2
            ? 'Please enter a longer todo'
            : ''
      }
  },
}
</script>

<style>
    .form-group {
        padding: 10px;
    }
</style>