<template>
    <div>
        <b-table hover :items="todoList"></b-table>
        <div v-if="error" class="error"> {{ error }} </div>

    </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'List',
  data() {
    return {
      todoList: [],
    }
  },

  mounted() {
    axios({
        method: 'GET',
        url: 'http://localhost:4000/list',
        withCredentials: true
    }).then((response) => {
        this.todoList = response.data
    }).catch(error => {
        console.log("error:", error)
    })
  },

  computed: {
      error() {
          return Array.isArray(this.todoList) != true
            ? 'no rows found!'
            : ''
      }
  },
}

</script>