<template>
  <div id="app" class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 py-5">
        <Welcome msg="Welcome to Your Todo App"/>
        <Add></Add>
        <List></List>
      </div>
    </div>
  </div>
</template>

<script>
import Welcome from './components/Welcome.vue'
import Add from './components/Add.vue'
import List from './components/List.vue'

export default {
  name: 'App',
  components: {
    Welcome,
    Add,
    List
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
